.wrapper {
  background-image: linear-gradient(to right bottom, rgba(207, 130, 79, 0.3), rgba(49, 20, 1, 0.3)), url("../pics/nice.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.site-header {
  text-transform: uppercase;
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem; }
  .site-header__nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem; }
    @media only screen and (max-width: 1100px) {
      .site-header__nav {
        display: none; } }
  .site-header__row--hexagon-top, .site-header__row--hexagon-bottom {
    list-style-type: none; }
  .site-header__row {
    margin: -2rem auto;
    cursor: pointer; }
    .site-header__row--hexagon-top, .site-header__row--hexagon-bottom {
      list-style-type: none; }
    .site-header__row--hexagon-top {
      width: 0;
      border-bottom: 30px solid var(--color-border);
      border-left: 52px solid transparent;
      border-right: 52px solid transparent;
      transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1); }
    .site-header__row--hexagon {
      list-style-type: none;
      width: 104px;
      height: 50px;
      background-color: var(--color-border);
      transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1);
      text-align: center; }
      .site-header__row--hexagon a:link,
      .site-header__row--hexagon a:visited {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 600;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1); }
    .site-header__row--hexagon-bottom {
      width: 0;
      border-top: 30px solid var(--color-border);
      border-left: 52px solid transparent;
      border-right: 52px solid transparent;
      transition: all 0.6s cubic-bezier(0.77, 0, 0.18, 1); }
  .site-header__list {
    margin-right: 4.5rem;
    position: fixed;
    z-index: 3000; }
  .site-header__row:nth-child(2), .site-header__row:nth-child(4), .site-header__row:nth-child(6) {
    transform: translateX(50%); }
  .site-header__active {
    border-bottom: 3px solid white; }

.site-header__row:hover .site-header__row--hexagon-bottom {
  border-top: 30px solid var(--color-primary-light); }

.site-header__row:hover .site-header__row--hexagon-top {
  border-bottom: 30px solid var(--color-primary-light); }

.site-header__row:hover .site-header__row--hexagon {
  background-color: var(--color-primary-light); }

.site-header__row:hover .site-header__row--hexagon a {
  color: var(--color-primary-text); }

.nav-small {
  display: none; }
  @media only screen and (max-width: 1100px) {
    .nav-small {
      display: inline-block; } }
  .nav-small__checkbox {
    display: none; }
  .nav-small__button {
    background: var(--color-primary-text);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 3000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 900px) {
      .nav-small__button {
        top: 2rem;
        right: 2rem; } }
  .nav-small__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    background-image: radial-gradient(#ff6600, #f8c09b);
    z-index: 2000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 900px) {
      .nav-small__background {
        top: 2.5rem;
        right: 2.5rem; } }
  .nav-small__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    width: 0; }
  .nav-small__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .nav-small__item {
    margin: 1rem; }
  .nav-small__link:link, .nav-small__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 250%;
    transition: all .4s; }
    .nav-small__link:link span, .nav-small__link:visited span {
      margin-right: 1rem;
      display: inline-block; }
  .nav-small__link:hover, .nav-small__link:active {
    background-position: 100%;
    color: var(--color-primary);
    transform: translateX(1rem); }
  .nav-small__checkbox:checked ~ .nav-small__background {
    transform: scale(80); }
  .nav-small__checkbox:checked ~ .nav-small__nav {
    opacity: 1;
    width: 100%; }
  .nav-small__icon {
    position: relative;
    margin-top: 3.5rem; }
    .nav-small__icon, .nav-small__icon::before, .nav-small__icon::after {
      width: 3rem;
      height: 2px;
      background-color: var(--color-gray);
      display: inline-block; }
    .nav-small__icon::before, .nav-small__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .nav-small__icon::before {
      top: -.8rem; }
    .nav-small__icon::after {
      top: .8rem; }
  .nav-small__button:hover .nav-small__icon::before {
    top: -1rem; }
  .nav-small__button:hover .nav-small__icon::after {
    top: 1rem; }
  .nav-small__checkbox:checked + .nav-small__button .nav-small__icon {
    background-color: transparent; }
  .nav-small__checkbox:checked + .nav-small__button .nav-small__icon:before {
    top: 0;
    transform: rotate(135deg); }
  .nav-small__checkbox:checked + .nav-small__button .nav-small__icon:after {
    top: 0;
    transform: rotate(-135deg); }

.about {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-orange-dark));
  background-size: cover;
  padding-bottom: 25rem;
  padding-top: 5rem; }
  .about__us {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem 3rem;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    transform: skewX(-12deg);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all .8s;
    color: var(--color-primary-text); }
  .about__first {
    width: 40%;
    margin-right: 2rem;
    transform: skewX(12deg); }
    .about__first--heading {
      font-size: 2.5rem;
      line-height: 1.6;
      letter-spacing: .1rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 900px) {
        .about__first--heading {
          font-size: 2rem; } }
    .about__first--heading:after {
      content: "";
      display: block;
      width: 30%;
      padding-top: .5rem;
      border-bottom: 2px solid var(--color-primary-text); }
    .about__first--parg {
      padding-top: 1rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-weight: 600; }
      @media only screen and (max-width: 900px) {
        .about__first--parg {
          font-size: 1.8rem; } }
  .about__second {
    width: 60%;
    transform: skewX(12deg); }
    .about__second--parag {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-weight: 400; }
      @media only screen and (max-width: 900px) {
        .about__second--parag {
          font-size: 1.4rem; } }
  .about__both {
    padding-top: 4rem;
    max-width: 75%;
    margin: 0 auto; }
    @media only screen and (max-width: 900px) {
      .about__both {
        max-width: 95%; } }
  .about__container {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 600px) {
      .about__container {
        flex-direction: column;
        align-items: center; } }
  .about__moni {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-right: 2px solid var(--color-primary-light); }
    @media only screen and (max-width: 600px) {
      .about__moni {
        border-right: none;
        margin-bottom: 1.5rem; } }
  .about__niki {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; }
  .about__img {
    border-radius: 50%; }
    @media only screen and (max-width: 900px) {
      .about__img {
        width: 60%;
        margin: 0 auto; } }
  .about__text {
    max-width: 50%;
    max-height: 100%;
    text-align: justify;
    position: relative; }
    @media only screen and (max-width: 600px) {
      .about__text {
        max-width: 100%; } }
  .about__heading3 {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: -6rem;
    right: -4rem;
    width: 75%; }
    @media only screen and (max-width: 900px) {
      .about__heading3 {
        font-size: 2rem; } }
  .about__heading3-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .about__heading3-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 165, 0, 0.85), rgba(255, 0, 0, 0.85)); }
  .about__text > p {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem 2rem;
    margin-top: 3.5rem;
    color: var(--color-primary-text);
    border-radius: .5rem; }
    @media only screen and (max-width: 900px) {
      .about__text > p {
        font-size: 1.4rem;
        margin-top: 1.5rem; } }

.bg-video {
  height: 100vh; }
  @media only screen and (max-width: 600px) {
    .bg-video__content {
      width: auto; } }

.music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
  margin-bottom: 10rem;
  height: 100vh;
  background-image: linear-gradient(to right, var(--color-purple), var(--color-orange-dark));
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  background-size: cover; }
  .music__heading {
    padding-bottom: 3rem;
    color: var(--color-primary-text); }
  .music__video {
    padding-bottom: 20rem; }

.gallery {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-orange-dark));
  clip-path: polygon(0 5%, 100% 0, 100% 85%, 69% 95%, 23% 93%, 0 100%);
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 85%, 69% 95%, 23% 93%, 0 100%);
  background-size: cover;
  margin-top: -15rem;
  padding-bottom: 20rem; }
  .gallery__container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 2em 1em;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 20rem; }
    @media only screen and (max-width: 1100px) {
      .gallery__container {
        width: 100%;
        padding-top: 10rem; } }
    @media only screen and (max-width: 700px) {
      .gallery__container {
        display: none; } }
  .gallery__box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
    margin-bottom: 1rem; }
  .gallery__box > img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    transition: .5s; }
  .gallery__box:hover {
    flex: 1 1 50%; }
  .gallery__box:hover > img {
    width: 100%;
    height: 100%; }

.events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto; }
  .events__heading:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: .3rem;
    border-bottom: 2px solid var(--color-primary-text); }
  .events__box {
    width: 400px;
    padding: 2rem;
    margin: 0 2rem;
    text-align: center; }
  .events__img {
    width: 100%;
    height: 100%;
    border-radius: .5rem; }
  .events__parag {
    padding-top: .3rem;
    text-align: justify;
    font-weight: 400;
    text-transform: uppercase; }
  .events__btn, .events__btn:link, .events__btn:visited {
    background-color: var(--color-primary-text);
    border: none;
    padding: 1.2rem;
    margin-top: 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: all .2s; }
    .events__btn:hover, .events__btn:link:hover, .events__btn:visited:hover {
      background-color: var(--color-primary);
      transform: translateY(-2px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .events__btn a:hover, .events__btn:link a:hover, .events__btn:visited a:hover {
      color: var(--color-primary-text); }
  .events__btn:active, .events__btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  .events__btn a {
    text-decoration: none;
    color: var(--color-gray); }

.contact-section {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-orange-dark));
  clip-path: polygon(25% 1%, 72% 7%, 100% 0, 100% 100%, 0 100%, 0 12%);
  -webkit-clip-path: polygon(25% 1%, 72% 7%, 100% 0, 100% 100%, 0 100%, 0 12%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0; }
  .contact-section__wrapper {
    display: flex; }
  .contact-section__forms {
    margin-right: 5rem; }
  .contact-section__heading {
    color: var(--color-primary-text);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem; }
  .contact-section__group {
    text-align: center; }
    .contact-section__group:not(:last-child) {
      margin-bottom: 1rem; }
  .contact-section__group > .contact-section__input {
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    border: 2px solid var(--color-primary-text);
    background-color: transparent;
    width: 100%; }
    .contact-section__group > .contact-section__input::placeholder {
      color: var(--color-primary-text);
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: .1rem; }
    .contact-section__group > .contact-section__input:focus {
      outline: none; }
  .contact-section__textarea {
    border-radius: .5rem;
    border: 2px solid var(--color-primary-text);
    background-color: transparent;
    width: 100%; }
    .contact-section__textarea:focus {
      outline: none; }
  .contact-section__btn {
    padding: 1rem;
    border: none;
    background-color: var(--color-primary-text);
    color: var(--color-gray);
    border-radius: .3rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase; }
  .contact-section__icons {
    display: flex;
    padding: 2rem; }
  .contact-section__parag {
    padding: 2rem;
    font-size: 5rem; }
    .contact-section__parag a {
      color: var(--color-primary-text); }
      .contact-section__parag a:hover {
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-purple), var(--color-orange-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }

.site-footer {
  background-color: var(--color-purple); }
  .site-footer p {
    color: var(--color-primary-text);
    padding: 2rem;
    text-align: center; }

.gallerysecond {
  grid-column: full-start / full-end;
  display: none;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 5vw);
  grid-gap: 1.5rem;
  padding-top: 10rem;
  max-width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 700px) {
    .gallerysecond {
      display: grid; } }
  .gallerysecond__box--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5; }
  .gallerysecond__box--2 {
    grid-column-start: 7;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 6; }
  .gallerysecond__box--3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: -1; }
  .gallerysecond__box--4 {
    grid-column-start: 7;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: -1; }
  .gallerysecond__box--5 {
    grid-column: 7 / -1;
    grid-row: 5 / -1; }
  .gallerysecond__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

:root {
  --color-primary: #ff6600;
  --color-primary-light:  #cf824f;
  --color-orange-dark: #311401;
  --color-purple:  #85021f;
  --color-gray: #646464;
  --color-border: rgba(0, 0, 0, 0.2);
  --color-primary-text:  #f8c09b;
  --box-shadow: 0 2px 2px 4px rgba(0,0,0, .3);
  --bp-largest: 1200px;
  --bp-large: 1100px;
  --bp-medium: 900px;
  --bp-small: 600px;
  --bp-smallest: 500px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5; }
